.header {
	padding-top: 60px;
	img {
		max-width: 18px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__cart,
	&__phone {
		margin-right: 17px;
	}
}

.logo {
	&__link {
		font-size: 46px;
		letter-spacing: 5px;
		color: #408b04;
		font-weight: 700;
		font-family: "Bebas Neue";
	}
}

.nav {
	&__menu {
		display: flex;
		justify-content: center;
	}
	&__item {
		margin-right: 10px;
		&:last-child {
			margin: 0;
		}
	}
	&__link {
		position: relative;
		font-size: 16px;
		letter-spacing: 2px;
		color: #808080;
		font-weight: 400;
		font-family: "Bebas Neue";
		overflow: hidden;
		padding: 0 20px;
		&::before {
			opacity: 0;
			content: "";
			position: absolute;
			left: 0;
			top: 45%;
			width: 0;
			height: 2px;
			background-color: #408b04;
			transform: translateX(-25%) translateY(-50%);
			transition: 0.5s;
			z-index: 1;
		}
		&:hover {
			color: #408b04;
			&::before {
				opacity: 1;
				width: 174%;
			}
		}
	}
}
